# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and testing
lib-cov
coverage
*.lcov
.nyc_output
.vscode-test

# Build tools and dependencies
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
web_modules/
dist
dist-ssr

# Cache directories
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.cache
.parcel-cache
.temp
.docusaurus
.dynamodb/

# Environment and local files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
.next
out
.nuxt
dist
.vuepress/dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# Other
.node_repl_history
*.tgz
.yarn-integrity
.serverless/
.fusebox/
.tern-port

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
